In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

from google.colab import files
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.datasets import load_iris
from sklearn.linier_model import LogisticRegression

uploaded = files.upload()

datas = pd.read_csv("csv_KNN_Liver_CSU_1.csv")
datas.head()

def devided_data(datas, name_colums=['ALB','ALP','ALT','AST','BIL','PROT','GGT']):
  ciri = datas[name_colums]
  label = datas[['Diagnosa']]
  return ciri,label

ciri,label = devided_data(datas)

Ciri_train, Ciri_test, Label_train, Label_test = train_test_split(ciri, label, test_size = 0.10, random_state = 0) #par

classifier = KNeighborsClassifier(n_neighbors = 1, metric = 'minkowski', p = 2)
classifier.fit(Ciri_train, Label_train.values.ravel())

Label_pred = classifier.predict(Ciri_test)

cm = confusion_matrix(Label_test, Label_pred)
ac = accuracy_score(Label_test, Label_pred)

ModuleNotFoundError: ignored

In [ ]:
datas.head()

    ALB   ALP   ALT    AST   BIL  PROT   GGT     Diagnosa
0  38.5  52.5   7.7   22.1   7.5  69.0  12.1  Blood Donor
1  38.5  70.3  18.0   24.7   3.9  76.5  15.6  Blood Donor
2  46.9  74.7  36.2   52.6   6.1  79.3  33.2  Blood Donor
3  43.2  52.0  30.6   22.6  18.9  75.7  33.8  Blood Donor
4  47.0  19.1  38.9  164.2  17.0  70.1  90.4    Hepatitis

In [ ]:
ciri

     ALB    ALP   ALT    AST    BIL  PROT    GGT
0   38.5   52.5   7.7   22.1    7.5  69.0   12.1
1   38.5   70.3  18.0   24.7    3.9  76.5   15.6
2   46.9   74.7  36.2   52.6    6.1  79.3   33.2
3   43.2   52.0  30.6   22.6   18.9  75.7   33.8
4   47.0   19.1  38.9  164.2   17.0  70.1   90.4
5   42.0   38.2  63.3  187.7   14.0  70.5   40.2
6   45.0   27.5  10.5   37.8   10.0  74.5   35.9
7   45.0   34.6  44.3   96.2   16.0  82.1   48.1
8   41.0   34.4  12.1   60.9    6.0  71.1   33.1
9   41.0   43.1   2.4   83.5    6.0  66.5  130.0
10  39.0   43.1  23.8  114.7   11.0  81.3  127.3
11  45.0   26.9  23.1  125.0   17.0  73.0   72.2
12  49.0   45.2  19.3   69.1   30.0  72.3   28.4
13  34.0  137.8   4.8   35.6    9.0  57.5  133.4
14  31.0   85.3   4.8   60.2  200.0  71.8  151.0
15  36.0   69.6  14.9  263.1   40.0  68.6   61.0
16  29.0   11.3   7.1  101.9   31.0  70.0   65.6

In [ ]:
label

       Diagnosa
0   Blood Donor
1   Blood Donor
2   Blood Donor
3   Blood Donor
4     Hepatitis
5     Hepatitis
6     Hepatitis
7     Hepatitis
8     Hepatitis
9      Fibrosis
10     Fibrosis
11     Fibrosis
12     Fibrosis
13    Cirrhosis
14    Cirrhosis
15    Cirrhosis
16    Cirrhosis

In [ ]:
Ciri_test

    ALB   ALP   ALT   AST   BIL  PROT   GGT
1  38.5  70.3  18.0  24.7   3.9  76.5  15.6
6  45.0  27.5  10.5  37.8  10.0  74.5  35.9

In [ ]:
Label_test

      Diagnosa
1  Blood Donor
6    Hepatitis

In [ ]:
Label_pred

array(['Blood Donor', 'Hepatitis'], dtype=object)

In [ ]:
cm

array([[1, 0],
       [0, 1]])

In [ ]:
ac

1.0